.main-elements{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin: 2%;
}

.user-pane{
    width: 20%;
    height: 75vh;
    border-radius: 5%;
    background-color: blue;
}

.album-pane{
    width: 40%;
    height: 75vh;
    border-radius: 5%;
    background-color: blue;
}
