.desc-style{
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.image-style{
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    border-radius: 5px;
}