@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

canvas {
    cursor: url(./assets/pencil.png) 0 34, auto;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

/* overall panel */
.drawing-panel{
    display: flex;
    height: 100vh;
    padding: 10px;
    background:linear-gradient(rgba(208, 0, 250, 0.5),transparent);
    background-color: rgb(68, 36, 54);
}

/* sub-panel */
.canvas-panel{
    flex: auto;
    margin: 10px;
    border: 15px rgb(80, 83, 95) solid;
    border-radius: 5px;
}

.colors-panel {
    float: left;
    width: 20%;
    border: 5px red solid;
}

.prompt-panel{
    color: white;
    font-family: 'Rubik Mono One';
    font-size: large;
    text-align: center;
}

.tools-panel{
    float: right;
    width: 20%;
    border: 5px red solid;
}

.toolbar-element{
    border: 2px yellow solid;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* colors */
.colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: grey;
}

.color {
  width: 45px;
  height: 45px;
  cursor: pointer;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
}

/* slider */
.font-size-slider{
    fill: aqua;
}

/* undo/redo */
.edit-images{
    background-color: transparent;
    width: 40px;
}

.edit-button{
    background-color: transparent;
}

/* upload */
.save-button {
    background-color: blue;
    color: white;
    font-size: larger;
    font-family: 'Rubik Mono One';
    padding-left: 25px;
    padding-right: 25px;
}
