@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

canvas {
    cursor: url(./assets/pencil.png) 0 34, auto;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.window{
    background:linear-gradient(rgba(208, 0, 250, 0.5),transparent);
    background-color: rgb(68, 36, 54);
}

/* overall panel */
.drawing-panel{
    display: flex;
    height: 100vh;
    padding: 10px;
}

/* sub-panel */
.canvas-panel{
    flex: auto;
    margin: 10px;
    border: 15px rgb(80, 83, 95) solid;
    border-radius: 5px;
}

.prompt-panel{
    color: white;
    font-family: 'Rubik Mono One';
    font-size: large;
    text-align: center;
}

.round-count{
    text-align: right;
}

.tools-panel{
    /* border: 5px red solid; */
    float: right;
    padding: 0.5%;
    width: 15%;
    
}

.window-colors-panel{
    border: 7.5px rgba(62, 20, 62, 0.815) solid;
    background-color: rgba(62, 20, 62, 0.815);
    border-radius: 2.5px;
}

.toolbar-element{
    /* border: 2px yellow solid; */
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* colors */
.colors {
    border: 3px rgba(62, 20, 62, 0.875) solid;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color {
  width: 25%;
  aspect-ratio: 1;
  cursor: pointer;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
}

.current-color{
    border: 3px rgba(62, 20, 62, 0.815) solid;
    display: flex;
    height: 10vh;
}

/* slider */
.font-size-slider{
    cursor: pointer;
}

/* undo/redo */
.edit-images{
    background-color: transparent;
    cursor: pointer;
    width: 40px;
}

.edit-button{
    background-color: transparent;
    cursor: pointer;
}

/* upload */
.save-button {
    border: 4px rgba(62, 20, 62) solid;
    border-radius: 10%;
    background-color: white;
    color: rgba(62, 20, 62);
    font-size: x-large;
    font-family: 'Rubik Mono One';
    padding: 8%;
    padding-left: 20%;
    padding-right: 20%;
    cursor: pointer;
}
