@import "../node_modules/xp.css/dist/XP.css";

canvas {
    cursor: url(./assets/pencil.png) 0 34, auto;
}

.colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color {
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
}

.drawing-panel{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;
    border: 5px blue solid;
}

.colors-panel {
    float: left;
    width: 20%;
    border: 5px red solid;
}

.tools-panel{
    float: right;
    width: 20%;
    border: 5px red solid;
}

.canvas-panel{
    flex: auto;
    margin: 10px;
    border: 5px red solid;
    border-radius: 5px;
}